.plot {
    box-sizing: border-box;
    width: 100%;
    height:100vh;    
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}

.barplot{
    height:70vh;
    border: 1px solid rgb(165, 165, 165);
}

/* .row{
    display: flex;
    flex-direction: row;
} */